@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
    user-select: none; /* Disable text selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  